.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.time-display {
  font-size: 1.1rem;
  color: #555;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;;
}

.time-value {
  font-weight: bold;
  font-size: 1.3rem;
  color: #333;
  min-width: 60px;
  display: inline-block;
}

.timer-button {
  display: block;
  margin: 0 auto;
  color: white;
  padding: 18px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.timer-button.start {
  background-color: #4CAF50;
  color: white;
}

.timer-button.pause {
  background-color: #FFC107;
  color: #333;
}

.timer-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.timer-button:active {
  transform: translateY(0);
}

.icon {
  font-size: 1.1rem;
}